/*------------------------------------*\
    # Inputs
\*------------------------------------*/


/* Text Input */

.text-input {
    //-webkit-appearance: none;
    border: .1rem solid $off-green;
    border-radius: 0;
    background: white;
    height: 5rem;
    width: 100%;
    outline: none;
    font-size: $font-size-large;
    font-weight: 300;
    padding: $s-size;
    line-height: 1.6;
    color: $grey;
    
    &:-webkit-autofill {
        box-shadow: 0 0 0px 1000px lighten( $light-green, 35% ) inset;
    }

    &:disabled {
        cursor: not-allowed;
        background: lighten( $light-green, 35%);
    }

    @media ( min-width: $desktop-breakpoint ) {
        width: 45rem;
    }
}


/* Select */

.select {
    @extend .text-input;
    // Remove ugly default border radius of select
    // Can use -webkit-appearance: none; but we will lose arrows
    border: 0;

    // Fake border like normal input has
    outline: 1px solid $off-green; 
}


/* Textarea */ 

.textarea {
    @extend .text-input;
    height: 20rem;


    &.textarea--lg {
        width: 100%;

        @media ( min-width: $desktop-breakpoint ) {
            height: 35rem;
        }
    }
}