/*------------------------------------*\
    # Pagination
\*------------------------------------*/

// Stolen from bootstrap, modified by me. Hahah.

/* Pagination */

.pagination {
    height: $xl-size;
    margin: $m-size 0;
    padding: 0;
}

.pagination ul {
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */
  
    *zoom: 1;
    margin-left: 0;
    margin-bottom: 0;

    border-radius: .3rem;
    box-shadow: 0 .1rem .2rem rgba( 0, 0, 0, 0.05 ); 
}

.pagination li {
    display: inline;
}

.pagination a {
    display: inline-block;
    padding: 0 $m-size;
    line-height: 3.4rem;
    border: .1rem solid $light-green;
    border-left-width: 0;
    text-decoration: none;

    transition: $transition;
}

.pagination a:hover,
.pagination .active a {
    background: $off-green;
    color: $off-white;
}

.pagination .active a {
    color: $off-white;
    cursor: default;
}

.pagination .disabled span,
.pagination .disabled a,
.pagination .disabled a:hover,
.pagination .disabled a:focus {
    color: $green;
    background-color: transparent;
    cursor: default;
}

.pagination li:first-child a {
    border-left-width: .1rem;
    border-radius: .3rem 0 0 .3rem;
}

.pagination li:last-child a {
    border-radius: 0 .3rem .3rem 0;
}

.pagination-centered {
    text-align: center;
}

.pagination-right {
    text-align: right;
}