/*------------------------------------*\
    # Base
\*------------------------------------*/


* {
    box-sizing: border-box;  
}

::selection {
    background: lighten( $light-green, 40% );
}

html {
    font-size: 62.5%; 
    height: 100%;
}

body {
    color: $dark-grey;
    font-family: 'Open Sans', sans-serif;
    font-size: $m-size;
    line-height: 1.6;

    background-image: 
        url('/images/header-2.png'),
        url('/images/background.png');
    background-position:
        top center, /* this positions the first image */
        top center; /* this positions the second image */
    background-repeat:
        no-repeat,
        repeat; /* this applies to both images */

    @media ( min-width: 1920px ) {
        background-size: contain;
    }

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.is-active {
    font-weight: bold;
}

.list-unstyled {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: $light-green;
    text-decoration: none;

    &:hover,
    &:focus {
        color: darken( $light-green, 5% );
    }
}

img {
    max-width: 100%;
    height: auto;
}

button {
    outline: none;
    border: none;
    background: none;
}

.heart-symbol::before {
    content: '\2665';
    color: red;
    font-style: normal;
}

.icon {
    width: 2rem;
    height: 2rem;
}

.error-image {
    display: block;
    margin: $xl-size 0;
    border: 5px solid $off-green;
    border-radius: .3rem;
}